<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Logger"
              switchName="Switch"
              switchType="System.Diagnostics.SoulrceSwitch" >
        <listeners>
          <add name="Listener"
               type="System.Diagnostics.TextWriterTraceListener"
               traceOutputOptions="None"
               initializeData="AppLog.log">
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Switch" value="Information"/>
    </switches>
  </system.diagnostics>
</configuration>