<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="services" type="UserStorageSystem.Configuration.ServicesConfigSection, UserStorageSystem" />
    <section name="storages" type="UserStorageSystem.Configuration.StoragesConfigSection, UserStorageSystem" />
  </configSections>
  <storages>
    <storage name="users.xml" />
  </storages>
  <services>
    <replication slaves="3" />
  </services>
  <system.diagnostics>
    <sources>
      <source name="Logger"
              switchName="Switch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="Listener"
               type="System.Diagnostics.TextWriterTraceListener"
               traceOutputOptions="None"
               initializeData="AppLog.log">
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Switch" value="Information"/>
    </switches>
  </system.diagnostics>
</configuration>