<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceConfig" type="UserStorageSystem.Configuration.ServicesConfigSection, UserStorageSystem" />
    <section name="storage" type="UserStorageSystem.Configuration.StorageConfigSection, UserStorageSystem" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <storage name="users.xml" />
  <serviceConfig usesTcp="true">
    <services>
      <service type="master" name="master_0"></service>
      <service type="slave" name="slave_1" ip="127.0.0.1" port ="13001"></service>
      <service type="slave" name="slave_2" ip="127.0.0.1" port ="13002"></service>
      <service type="slave" name="slave_3" ip="127.0.0.1" port ="13003"></service>
    </services>
  </serviceConfig>
  <system.diagnostics>
    <sources>
      <source name="Logger"
              switchName="Switch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <!--<add name="Listener"
               type="System.Diagnostics.TextWriterTraceListener"
               traceOutputOptions="None"
               initializeData="AppLog.log">
          </add>-->
          <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Switch" value="Information"/>
    </switches>
  </system.diagnostics>
</configuration>